{{yield}}

<h2>{{title}}</h2>

<table border="0.1" >
    <tr><th>Nome</th></tr>
    {{#each item as |client|}}
    <tr><td {{action "showClient" client}}> {{client}} </td><td>Actions:<img src="img/delete.png" {{action "deleteClient" client}}/></td></tr>
    {{/each}}    
</table>
  